* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: 'Raleway', sans-serif;
  color: #f7f7f7;
  height: 100vh;
  width: 100vw;
}

li {
  list-style: none;
  cursor: pointer;
}

.rando1 {
  animation: 2s ease-out rando1;
}
.rando2 {
  animation: 2s ease-out rando2;
}
.rando3 {
  animation: 2s ease-out rando3;
}
.rando4 {
  animation: 2s ease-out rando4;
}

@keyframes rando1 {
  0% {
    transform: translateX(-250px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes rando2 {
  0% {
    transform: translateY(100px) translateX(75px) rotateZ(-45deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) translateX(0px) rotateZ(0);
    opacity: 1;
  }
}
@keyframes rando3 {
  0% {
    transform: translateY(250px) translateX(-25px) rotateZ(87deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) translateX(0px) rotateZ(0);
    opacity: 1;
  }
}
@keyframes rando4 {
  0% {
    transform: translateY(30px) translateX(0px) rotateZ(-145deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) translateX(0px) rotateZ(0);
    opacity: 1;
  }
}
