.page {
  width: 100%;
  flex: 0 0 auto;
  scroll-snap-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.slideLeft {
  animation: 2s ease-out slideInFromLeft;
}

.slideRight {
  animation: 2s ease-out slideInFromRight;
}

.colorChange {
  animation: 2s ease-out colorChange;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-75%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes colorChange {
  0% {
    color: #f4e76e;
  }

  100% {
    color: inherit;
  }
}
