.pageWrapper {
  height: 100%;
  width: 100%;

  display: flex;
}

.navDisplayPane {
  flex: 40%;
}

.contentDisplayPane {
  flex: 60%;

  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
